# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Properties files
*.properties

# Package files
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
alleru-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.vscode
/gradlenew
/gradlew.bat
